<h1>Concierge service</h1>
<p>Art Class Italy can provide expert advice about the many practical issues that will ensure your time with us in Todi is both enjoyable and memorable. Local support staff  provide expert assistance to participants to organise ‘hassle free’ transfers to Todi, accommodation and optional activities for companions through our “Concierge” service.</p>
<p>Our Concierge service is managed by a local long term resident of Todi who has extensive experience  providing assistance and advice to Australians and other English speaking visitors and ex-pats living in Todi.</p>
<p> </p>
<p><strong>Violetta Chiara Frederici</strong> is your <strong>Concierge</strong> – your ‘go to’ person when you need help. She is available by email (see <a href="/contact/"><strong>Contact</strong></a> page) to help you before you arrive to organise the following</p>
<ul>
<li>transfers to Todi and transport when in Todi</li>
<li>accommodation in Todi Centro and surrounding areas</li>
<li>booking extra activities for you or your travelling companion</li>
<li>providing advice on local and wider Umbrian cultural events</li>
<li>offer practical help on  shopping, restaurants, health and laundry.</li>
</ul>
<p>We expect that you will have many questions about Todi and what it has to offer you during your stay. We have done our best to anticipate those questions and provide you with practical answers and suggestions. These are set out in the document headed <strong>FAQ</strong> that you can print out and use as a check list.</p>
